@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto&family=Roboto+Condensed:wght@300&family=Rock+Salt&display=swap');

body{
    font-family: "Roboto Condensed";
}
content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    font-size: 32px;
    color: white;
}
nav a:hover {
    background-color:#D4AC0D;
    color: white;
}
nav a{
    text-align: center;
    color: white;
    font-family: "IBM Plex Mono";
    text-decoration: none;
    padding: 70px;
}
header {
    background-color: #396E94;
    display: grid;
    grid-template-columns: 150px auto;
}
.about-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.me{
    grid-column: 1;
    height: 300px;
    width: 400px;
    padding-left: 10px;
    padding-top: 10px;
}
.about{
    padding-right: 150px;
}
.page2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    margin-bottom: 20px;
    font-size: 30px;
}
.story{
    grid-column: 1;
    height: 300px;
    width: 440px;
    padding: 10px;
    padding-left: 100px;
    margin: 5px;
    margin: 5px;
}
.title1{
    grid-column: 2;
    grid-row: 1;
    margin-top: 20px;
}
.title2{
    grid-column: 2;
    grid-row: 2;
    margin-top: 20px;
}
.title3{
    grid-column: 2;
    grid-row: 3;
    margin-top: 20px;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    text-align: center; 
}
.contacttitle{
    font-family: "IBM Plex Mono";
    font-size: 52px;
    padding-top: 30px;
    grid-column: 1;
    grid-row: 1;
}
.contentpics1, .contentpics2, .contentpics3, .contentpics4, .contentpics5, .contentpics6{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    margin: 5px;
}
.contentpics1, .contentpics2, .contentpics3{
    grid-column: 1;
    padding-left: 100px;
}
.contentpics4, .contentpics5, .contentpics6{
    grid-column: 3;
}
.contentpics4{
    grid-row: 2;
}
.contentpics5{
    grid-row: 3;
}
.headinfo1{
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    color: white;
    background-color: #396E94;
    font-size: 42px;
    font-family: "IBM Plex Mono";
}
.contactinfo1{
    padding-top: 40px;
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    font-size: 32px;
    font-family: "Roboto";
    color: white;
}
.headinfo2{
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    background-color: #396E94;
    font-size: 42px;
    font-family: "IBM Plex Mono";
    color: white;
}
.contactinfo2{
    padding-top: 40px;
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    font-size: 32px;
    font-family: "Roboto";
    color: white;
}
.headinfo3{
    grid-column: 2;
    grid-row: 4;
    text-align: left;
    background-color: #396E94;
    font-size: 42px;
    font-family: "IBM Plex Mono";
    color: white;
}
.contactinfo3{
    padding-top: 40px;
    grid-column: 2;
    grid-row: 4;
    text-align: left;
    font-size: 32px;
    font-family: "Roboto";
    color: white;
}
.salmon, .desolation, .grandcanyon{
    margin: 100px 0;
    font-size: 12px;
}
.salmon{
    grid-column: 1;  
}
.desolation{
    grid-column: 2;
}
.grandcanyon{
    grid-column: 3;
}
.river-image{
    height: 300px;
    width: 400px;
    justify-items: center;
    border: 10px solid #396E94;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.river-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h5{

    font-size: 22px;
    padding-left: 30px;
    }
footer{
    background-color: #d2d0ba;
    color: #396E94;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
}
footer a{
    color: #396E94;
    text-decoration: none;
}
footer a:hover{
    color: blue;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}